body {
  margin: 0;
  font-family: Arial;
  background: #fffbea;
}

.header {
  background: #ffd900;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
  font-size: 28px;
}

.header p {
  margin-top: 8px;
}

nav span {
  margin-left: 45px;
  font-weight: bold;
}

.title {
  background: #ffe52b;
  padding: 30px;
  position: relative;
}

.title h2 {
  font-size: 32px;
  margin: 0;
}

.top-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

.top-btn button {
  padding: 12px 25px;
  margin: 5px;
  border-radius: 8px;
  background: #ffd900;
  border: 1px solid #e5b900;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.zone-box {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.zone-box div {
  font-size: 70px;
  color: #ffd000;
}

.sensor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.sensor div {
  background: #f4f4f4;
  padding: 25px;
  text-align: center;
}

.camera {
  width: 100%;
  border-radius: 10px;
}

.fan {
  background: white;
  padding: 20px;
}

.fan button {
  padding: 15px 35px;
  margin: 10px;
  background: #ffd000;
  border: none;
  font-weight: bold;
}

button:hover {
  background: #ffb900;
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }
}