body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fffbea;
}

.app {
  width: 100%;
}

header {
  background: #ffd900;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  color: #333;
}

nav {
  font-weight: bold;
  word-spacing: 25px;
}

.hero {
  background: #ffe52b;
  padding: 30px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
}

.value {
  font-size: 70px;
  text-align: center;
  color: #ffd000;
}

.sensor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.sensor div {
  background: #f7f7f7;
  padding: 20px;
  text-align: center;
}

.camera {
  width: 100%;
  border-radius: 10px;
}

.control {
  background: white;
  padding: 20px;
}

button {
  padding: 15px 30px;
  margin: 10px;
  background: #ffd000;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #ffae00;
}